<server>
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>wasJmsServer-1.0</feature>
        <feature>wasJmsClient-2.0</feature>
        <feature>mdb-3.2</feature>
        <feature>jdbc-4.1</feature>
      	<feature>ejbLite-3.2</feature>
      	<feature>distributedMap-1.0</feature>
      	<feature>jpa-2.0</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>
    <authData id="TradeDataSourceAuthData" password="passw0rd" user="db2inst1"/>
    <authData id="TradeAdminAuthData" password="passw0rd" user="wasadmin"/>
    <messagingEngine>
        <queue id="TradeBrokerQueue"/>
        <topicSpace id="TradeStreamerTopic"/>
    </messagingEngine>
    <jmsQueue id="TradeBrokerQueue" jndiName="jms/TradeBrokerQueue">
        <properties.wasJms deliveryMode="NonPersistent" queueName="TradeBrokerJSD"/>
    </jmsQueue>
    <jmsTopic id="TradeStreamerTopic" jndiName="jms/TradeStreamerTopic">
        <properties.wasJms deliveryMode="NonPersistent" topicName="TradeStreamerTopic" topicSpace="Trade.Topic.Space"/>
    </jmsTopic>
    <jmsActivationSpec id="TradeBrokerMDBSpec">
        <properties.wasJms destinationType="javax.jms.Queue"/>
    </jmsActivationSpec>
    <jmsActivationSpec id="TradeStreamerMDBSpec">
        <properties.wasJms destinationType="javax.jms.Topic"/>
    </jmsActivationSpec>
    <jmsQueueConnectionFactory id="TradeBrokerQCF" jndiName="jms/TradeBrokerQCF">
        <properties.wasJms/>
    </jmsQueueConnectionFactory>
    <jmsTopicConnectionFactory id="TradeStreamerTCF" jndiName="jms/TradeStreamerTCF">
        <properties.wasJms/>
    </jmsTopicConnectionFactory>
    <dataSource id="NoTxTradeDataSource" jdbcDriverRef="DB2_Using_IBM_JCC_Driver" jndiName="jdbc/NoTxTradeDataSource">
        <properties.db2.jcc beginTranForResultSetScrollingAPIs="false" beginTranForVendorAPIs="false" connectionSharing="1" databaseName="tradedb" enableClientInformation="false" enableMultithreadedAccessDetection="false" errorDetectionModel="ExceptionMapping" jmsOnePhaseOptimization="false" name="NoTxTradeDataSource" nonTransactionalDataSource="true" password="passw0rd" portNumber="50000" preTestSQLString="SELECT CURRENT SQLID FROM SYSIBM.SYSDUMMY1" propagateClientIdentityUsingTrustedContext="false" reauthentication="false" retrieveMessagesFromServerOnGetMessage="true" serverName="172.23.50.114" traceLevel="-1" unbindClientRerouteListFromJndi="false" useTransactionRedirect="false" user="db2inst1" validateNewConnection="false" validateNewConnectionRetryCount="100" validateNewConnectionRetryInterval="3"/>
        <connectionManager agedTimeout="0" connectionTimeout="180" maxIdleTime="1800" maxPoolSize="50" minPoolSize="10" reapTime="180"/>
    </dataSource>
    <dataSource id="TradeDataSource" jdbcDriverRef="DB2_Using_IBM_JCC_Driver" jndiName="jdbc/TradeDataSource">
        <properties.db2.jcc beginTranForResultSetScrollingAPIs="false" beginTranForVendorAPIs="false" connectionSharing="1" databaseName="tradedb" enableClientInformation="false" enableMultithreadedAccessDetection="false" errorDetectionModel="ExceptionMapping" freeResourcesOnClose="false" jmsOnePhaseOptimization="false" name="TradeDataSource" nonTransactionalDataSource="false" password="passw0rd" portNumber="50000" preTestSQLString="SELECT CURRENT SQLID FROM SYSIBM.SYSDUMMY1" reauthentication="false" retrieveMessagesFromServerOnGetMessage="true" serverName="172.23.50.114" traceLevel="-1" unbindClientRerouteListFromJndi="false" useTransactionRedirect="false" user="db2inst1" validateNewConnection="false" validateNewConnectionRetryCount="100" validateNewConnectionRetryInterval="3"/>
        <connectionManager agedTimeout="0" connectionTimeout="180" maxIdleTime="1800" maxPoolSize="10" minPoolSize="1" reapTime="180"/>
    </dataSource>
    <jdbcDriver id="DB2_Using_IBM_JCC_Driver" javax.sql.DataSource="com.ibm.db2.jcc.DB2ConnectionPoolDataSource">
        <library>
            <file name="${DB2_JCC_DRIVER_PATH}/db2jcc4.jar"/>
            <file name="${DB2_JCC_DRIVER_PATH}/db2jcc_license_cu.jar"/>
            <file name="${DB2_JCC_DRIVER_PATH}/db2jcc_license_cisuz.jar"/>
        </library>
    </jdbcDriver>
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint">
    </httpEndpoint>
    <application context-root="daytrader" id="daytrader" location="daytrader3.0.9-ee6-src.ear" name="daytrader">
	<classloader commonLibraryRef="apache-commons-lib"/>
    </application>
    <variable name="DB2_JCC_DRIVER_PATH" value="/Users/donguyen/dev/java/docker/javacloudtrader_db2_docker/db2"/>
    <library id="apache-commons-lib">
  	<fileset dir="${shared.resource.dir}/commons" includes="*.jar"/>
    </library>
</server>